name: Flutter CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'mobile_app/**' 

defaults:
  run:
    working-directory: ./mobile_app

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x' 
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get

    - name: Analyze code (Static Analysis)
      run: flutter analyze 

    - name: Run tests
      run: flutter test 

    - name: Build APK (Optional - to check if it builds)
      run: flutter build apk --debug 
      
